.cart-dropdown{
    position: absolute;
    width:auto;
    height:380px;
    display: flex;
    flex-direction: column;
    border:1px solid black;
    background-color: white;
    padding:20px;
    top:90px;
    right:40px;
    z-index:999;
    
    .empty-message{
        font-size:18px;
        margin:50px auto;
    }
    .cart-items{
        height:250px;
        display: flex;
        flex-direction:column;
        
        // overflow-y: scroll;
    }
    button{
        margin-top:auto;
    }
}